@import "search.css";
@import "dimension.css";
@import "target.css";
#side{
    width:16%;
    height:95%;
    font-size: 14px;
    color:#3d4d66;
    border-right:1px solid #e8eaed;
    float:left;
}